.projects {
  width: 90%;
  margin: auto;
  min-height: 90vh;
  @include flex(space-between, center, row);
  text-align: center;
  flex-wrap: wrap;
  h2 {
    margin: 5rem;
  }
}

.pin-my-hike,
.acebook-rails,
.makerBnB,
.todo,
.photo,
.beatmaker {
  flex: 1 1 40rem;
  img {
    height: 30rem;
    width: 50rem;
    object-fit: contain;
  }
}
